node_modules
.DS_Store
dist
build
dist-ssr
*.local
.env
.env.*
!.env.example
.dev-app-port
.dev-db-port
.turbo
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
.cta.json
coverage
.drizzle
.convex
